In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("AB_NYC_2019.csv", names=["price"], skiprows=[0])
df.describe()

              price
count  48895.000000
mean     112.781327
std      131.622289
min        0.000000
25%        0.000000
50%       45.000000
75%      227.000000
max      365.000000

In [14]:
df.shape

(48895, 1)

In [15]:
# percentile_01 = df.income.quantile(0.01)
# percentile_01

In [26]:
cnt = len(df[df['price'] == 0])
cnt

17533

In [28]:
(17533 / 48895) * 100

35.858472236424994

In [33]:
mode_val = df.price.mode()
mode_val

0    0
Name: price, dtype: int64

In [7]:
median_val = df.price.median()
median_val

45.0

In [6]:
df.price.quantile(0.25, interpolation="higher")

0

In [8]:
percentile_25 = df.price.quantile(0.25)
percentile_25

0.0

In [9]:
df_no_outliers = df[df.price > percentile_25]
df_no_outliers

                                                                                                                                                                                price
2539     Clean & quiet apt home by the park                2787     John          Brooklyn  Kensington         40.64749 -73.97237 Private room    149 1  9   2018-10-19 0.21 6    365
2595     Skylit Midtown Castle                             2845     Jennifer      Manhattan Midtown            40.75362 -73.98377 Entire home/apt 225 1  45  2019-05-21 0.38 2    355
3647     THE VILLAGE OF HARLEM....NEW YORK !               4632     Elisabeth     Manhattan Harlem             40.80902 -73.94190 Private room    150 3  0   NaN        NaN  1    365
3831     Cozy Entire Floor of Brownstone                   4869     LisaRoxanne   Brooklyn  Clinton Hill       40.68514 -73.95976 Entire home/apt 89  1  270 2019-07-05 4.64 1    194
5099     Large Cozy 1 BR Apartment In Midtown East         7322     Chris         Manhattan Murray Hill        40.74767 -73.97500 Entire home/apt 200 3  74  2019-06-22 0.59 1    129
...                                                                                                                                                                               ...
36484665 Charming one bedroom - newly renovated rowhouse   8232441  Sabrina       Brooklyn  Bedford-Stuyvesant 40.67853 -73.94995 Private room    70  2  0   NaN        NaN  2      9
36485057 Affordable room in Bushwick/East Williamsburg     6570630  Marisol       Brooklyn  Bushwick           40.70184 -73.93317 Private room    40  4  0   NaN        NaN  2     36
36485431 Sunny Studio at Historical Neighborhood           23492952 Ilgar & Aysel Manhattan Harlem             40.81475 -73.94867 Entire home/apt 115 10 0   NaN        NaN  1     27
36485609 43rd St. Time Square-cozy single bed              30985759 Taz           Manhattan Hell's Kitchen     40.75751 -73.99112 Shared room     55  1  0   NaN        NaN  6      2
36487245 Trendy duplex in the very heart of Hell's Kitchen 68119814 Christophe    Manhattan Hell's Kitchen     40.76404 -73.98933 Private room    90  7  0   NaN        NaN  1     23

[31362 rows x 1 columns]

In [10]:
df_no_outliers.describe()

              price
count  31362.000000
mean     175.831994
std      126.187636
min        1.000000
25%       55.000000
50%      168.000000
75%      305.000000
max      365.000000

In [17]:
# percentile upper & lower limits (threshold)
min_threshold, max_threshold = df.price.quantile([0.01,0.999])
min_threshold, max_threshold

(0.0, 365.0)

In [14]:
df2 = df[(df.price > min_thresold) & (df.price < max_thresold)]
df2.shape

(30067, 1)

In [15]:
df2.sample(5)

                                                                                                                                                                            price
25813627 Serene Loft in Williamsburg - Master Bd            2423377   Bryan    Brooklyn  Williamsburg       40.71531 -73.96548 Private room    425 5 6   2019-05-15 0.66 1    156
3540722  Modern Bohemian Studio                             17820464  Allison  Manhattan East Village       40.72454 -73.97836 Entire home/apt 145 1 358 2018-12-03 5.96 1      3
32171100 Cozy Room in uptown Manhattan                      241366980 Josefina Manhattan Washington Heights 40.83685 -73.94176 Private room    75  2 20  2019-07-02 4.88 1    223
26560264 ❤️ Beautiful, Bright Room - Late Self Check-In  ❤️ 191338162 William  Bronx     Allerton           40.86013 -73.86339 Private room    142 1 30  2019-07-02 2.56 5     57
27292944 Cozy duplex in Redhook, Brooklyn\n(entire basem... 8593113   Salem    Brooklyn  Red Hook           40.67349 -74.00589 Private room    81  1 7   2019-05-17 0.66 2     48

In [18]:
df2.price.describe()

count    30067.000000
mean       167.684438
std        122.480505
min          1.000000
25%         52.000000
50%        157.000000
75%        287.000000
max        364.000000
Name: price, dtype: float64